* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
}
header {
    display: flex;
    border: solid 2px red;
    border-radius: 9px;
}
header h1 {
    text-align: center;
    color: red;
}