* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
}
header {
    display: flex;
    border: solid 2px red;
    border-radius: 9px;
}
header h1 {
    color: red;
}
html {
    cursor: url(../imgs/ezgif-2-efbd580e06.gif), auto;
    height: 100px;
}

